<section class="pg-4">
    <div class="mb-4">
        <tsp-map [currRoute]="currRoute">
            <p class="has-text-small has-text-gray">* Choice of next city is slowed down by {{ delayTime }}ms</p>
        </tsp-map>
    </div>
    <div>
        <div class="is-flex is-space-between ph-3 pv-2 has-align-items-center has-border-bottom">
            <form [formGroup]="form" class="options">
                <tsp-select formControlName="startCity" label="Start :">
                    <option [disabled]="isRunning" *ngFor="let city of cities; let i = index" [value]="i">{{ city.name }}</option>
                </tsp-select>
                <tsp-select formControlName="delayTime" label="Delay :">
                    <option [disabled]="isRunning" *ngFor="let time of delayTimeList" [value]="time">{{ time }}</option>
                </tsp-select>
            </form>
            <tsp-action-buttons (solve)="solve()" (clear)="clear()" [disabled]="isRunning"></tsp-action-buttons>
        </div>
        <div>
            <tsp-route [currRoute]="currRoute"></tsp-route>
        </div>
    </div>
</section>
