<section class="pg-4">
    <div class="mb-5">
        <tsp-map [currRoute]="currRoute">
            <div class="has-text-small has-text-gray">
                <p class="has-text-gray">* Choice of next city is slowed down by 250ms</p>
            </div>
        </tsp-map>
    </div>
    <div>
        <div class="is-flex is-space-between summary pg-3 has-align-items-center has-border-bottom">
            <tsp-select [formControl]="startCity" label="Start :">
                <option [disabled]="isRunning" *ngFor="let city of cities; let i = index" [value]="i">{{ city.name }}</option>
            </tsp-select>
            <div>
                <button 
                    class="pv-2 ph-3 has-radius has-bg-yellow has-text-medium has-text-primary mr-3" 
                    [disabled]="isRunning" 
                    (click)="solve()"
                >
                    Solve
                </button>
                <button 
                    class="pv-2 ph-3 has-radius has-bg-red has-text-medium has-text-primary" 
                    [disabled]="isRunning" 
                    (click)="clear()"
                >
                    Clear
                </button>
            </div>
        </div>
        <div>
            <tsp-route [currRoute]="currRoute"></tsp-route>
        </div>
    </div>
</section>
