<header class="is-flex pg-4 has-text-medium is-space-between has-text-uppercase">
    <div>
        <a routerLink="">TSP</a>
    </div>
    <nav class="is-flex">
        <a routerLink="solvers/nearest-neighbour" routerLinkActive="has-text-yellow" class="mr-3">
            <span class="is-mobile">NN</span>
            <span class="is-not-mobile">Nearest Neighbour</span>
        </a>
        <a routerLink="solvers/local-search" routerLinkActive="has-text-yellow" class="mr-3">
            <span class="is-mobile">LS</span>
            <span class="is-not-mobile">Local Search</span>
        </a>
        <!-- <a routerLink="solvers/genetic-algorithm" routerLinkActive="has-text-yellow">
            <span class="is-mobile">GA</span>
            <span class="is-not-mobile">Genetic Algorithm</span>
        </a> -->
    </nav>
</header>
