<section class="pg-4">
    <div class="mb-4">
        <tsp-map [bestRoute]="bestRoute" [currRoute]="currRoute">
            <p class="has-text-small has-text-gray">* The starting route is randomly generated</p>
        </tsp-map>
    </div>
    <div>
        <div class="is-flex is-space-between ph-3 pv-2 has-align-items-center has-border-bottom">
            <form [formGroup]="form" class="options">
                <tsp-select formControlName="operation" label="Operation :">
                    <option [disabled]="isRunning" *ngFor="let operation of operationsList" [value]="operation">{{ operation }}</option>
                </tsp-select>
                <tsp-select formControlName="iterations" label="Iterations :">
                    <option [disabled]="isRunning" *ngFor="let iteration of iterationsList" [value]="iteration">{{ iteration }}</option>
                </tsp-select>
            </form>
            <tsp-action-buttons (solve)="solve()" (clear)="clear()" [disabled]="isRunning"></tsp-action-buttons>
        </div>
        <div>
            <tsp-route [currRoute]="bestRoute"></tsp-route>
        </div>
    </div>
</section>
