<section class="is-grid-12">
    <div class="description-container pv-4 ph-4">
        <p class="pb-5 has-text-large">
            Travelling salesman problem
        </p>
        <p class="has-text-medium has-text-justified pb-4">
            The travelling salesman problem (TSP) is an optimization task first formulated in 1930. TSP is about finding the shortest path between set of cities (or locations) that must be visited by salesman only once, apart from starting one. The goal is to reduce the distance traveled to maximium.
        </p>
        <p class="has-text-medium has-text-justified pb-4">
            There are many algorithms and heuristics used to approximate the solution. Therefore I will present three chosen by myself methods - <a routerLink="solvers/nearest-neighbour">Nearest Neighbour</a>, <a routerLink="solvers/local-search">Local Search</a> and Genetic Algorithm.
        </p>
        <p class="has-text-medium has-text-justified pb-4">
            I have decided to prepare and use the dataset of the Polish voivodeships' capital cities (18) like eg. Warsaw (Masovian), Kraków (Lesser Poland), Poznań (Greater Poland) or Wrocław (Lower Silesian). The number of cities is small, because that will allow easier visualization of the program computing.
    </div>
    <div class="map-container">
        <tsp-map [currRoute]="route"></tsp-map>
    </div>
</section>
